h2 {
    color: #0E4A67;
}

#imagen {
    width: 200px; 
    object-fit: cover;   
}

.image {
    width: 400px;
    object-fit: cover;
}

.button1 {
    background-color: #8D4C98;
    width: 380px;
    height: 30;
    margin-bottom: 15px;

}

.button2 {
    background-color: white;
    width: 380px;
    color: black;
}

.anchor {
    color: #FB724C;
}