.message {
    border-radius: 5px;
    width: fit-content;
}

.sent {
    /* background-color: #395dff; */
    background-color: #70B196;
    color: white;
}

.received {
    background-color: #e5e5ea;
    color: black;
    /* float: left; */
    /* flex-direction: row;
    text-align: start; */
}