.navbarColor {
    background-color: #70B196;
}

.button1 {
    background-color: #8d4c98;
    color: white;
}

.button1:hover {
    background-color: #6f3b79;
    color: white;
}

.text-link{
    color: inherit;
    text-decoration: inherit;
}