body {
    background-color: #DBEAE9;
}

.image {
    width: 380px;
    object-fit: cover;
}

.formFormat  {
    width: 380px;
}

.registerButton {
    width: 380px;
    background-color: #8D4C98;
}

.anchor {
    color: #FB724C;
}

.button2 {
    background-color: white;
    width: 380px;
    color: black;
}